{% extends 'default.njk' %}
{% from 'macros.njk' import gallery %}

{% block content %}
{% for page in posts %}
  <article class="pure-g">
    <div class="pure-u-1-6">
      <a href="{{ page.path }}"><time>{{ page.date | moment('YYYY/MM/DD HH:mm') }}</time></a>
    </div>

    <div class="pure-u-5-6">
      {% if page.summary or page.contents %}
        <div class="e-content">
          {{ page.summary | default(page.contents.toString()) | autolink | emojify | nl2br | safe }}
          {% if page.summary %}<a href="{{ page.path }}">more</a>{% endif %}
        </div>
      {% endif %}
      {% if page.photos %}{{ gallery(page, page.photos, 120) }}{% endif %}
    </div>
  </article>
{% endfor %}
{% endblock %}
