{% extends 'default.njk' %}
{% from 'macros.njk' import gallery %}

{% block content %}
<section>
  <article class="pure-g">
    <div class="pure-u-1-6">
      <a href="{{ url }}"><time>{{ date }}</time></a>
    </div>

    <div class="pure-u-5-6">
      {% if contents %}
        <div class="e-content">
          {{ contents | autolink | emojify | nl2br | safe }}
        </div>
      {% endif %}
      {% if photos %}
        {{ gallery(page, photos, 300) }}
      {% endif %}
    </div>
  </article>
</section>
{% endblock %}
